.surfBreaksContainer {
    text-align: center;
    margin-top: 30px;
    background-color: #FFFFFF;
    color: #292929;
    h2 {
        text-align: start;
        font-size: 19px;
    }
    p {
        text-align: justify;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .paddingLeft {
        padding-left: 16px;
    }
    .paddingTop {
        padding-top: 7px;
    }
}