.myStuffButton {
    border-radius: 0px;
    background-color: #719AC4;
    color: white;
    padding: 0px 35px 0px 35px;
}

.allInclusiveMyStuffContainer {
    background-color: #FFFFFF;
    color: #292929;
    h5 {
        margin: 0px;
        padding: 4px;
    }
}