.about-us-bg-style {
    background-color: #C33891;
}

.aboutUsContainer {
    text-align: center;
    margin-top: 30px;
    background-color: #FFFFFF;
    color: #292929;
    h3 {
        margin: 16px;
    }
    p {
        text-align: justify;
        margin: 16px;
        margin-bottom: 50px;
    }
    .staffNames {
        margin: 0px;
        text-align: center;
        font-size: 10px;
    }
}

.myriadFont {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.orangeColor {
    color: #F26722;
}

.herculanumLetters {
    font-family: "Herculanum";
    font-size: 18px;
}
.herculanumSmallLetters {
    font-family: "Herculanum";
    font-size: 12px;
}

h2 {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.pinkColor {
    color: #C33891;
}

.blueColor {
    color: #719AC4;
}

.whiteColor {
    color: white;
}