<p>
  El Transito is a small fishing village of about 2700 people. 
Many of the men earn their income from heading out to
sea each night on a small panga boat with a light, fishing 
line and not much else. They stay overnight and return
the following morning with hopefully a great catch. Most
of the fish is loaded up and transported/sold in Managua 
with some of it sold in local markets. You’ll see families 
(both women and children) awaiting for their morning 
arrival, to help bring in the boats, gut and weigh the fish.<br><br>  

If not a local fisherman, other jobs like construction 
worker, maintenance and/or housecare takers are 
common ways to earn a salary and support a family. 
Historically there were only a few jobs for women, 
focused on cleaning or cooking and with limited child 
care, it made sense for the women to stay home and take 
care of the family as their primary job. With the arrival of 
NICA Fund (2004) and El Transito Centro de Artes (2007), 
opportunities to learn to sew, clean up the beach, work 
serving meals at the school or work at the local cafe enabled 
the local women to earn a living and not rely solely on 
how good the catch was that day or on their husbands salary.<br><br>

Encouraging children to stay in school isn’t easy when 
they can help out the fisherman to earn a meal for their 
family so it wasn’t until the NICA Fund implemented a 
school lunch program and then a computer lab that school 
enrollment tripled (within the past 5 years).<br><br>

Many of the local families live on less than or around $5 
per day and this is an improvment from the influx of job 
opportunities via tourism and projects with volunteer 
organizations. Most of the local homes are very simple 
with almost all of the beach homes owned by wealthy 
people who live in the city of Managua. The men/
women you see at the properties on a daily basis are 
usually housecare takers to prevent squatting.<br><br>

Historically the center of town was by the panga boats 
along the coast line but in September of 1992 an 
earthquake (Mag. 7.2) followed by a tsumani hit the 
area and destroyed many of the non-well built homes 
in the area. According to local reports, waves of up to 
9.9 Meters destroyed about 200 homes, killed 16 
people (14 children) and injured 151. Fortunately, the 
first wave was not very large and people had time to 
escape the second and third larger waves. Furthermore, 
the tsunami was a complete surprise - even to scientists. 
It was much larger than what would have been expected 
for an earthquake of that magnitude, and it did not 
behave in the traditional way.<br><br>

In response to many locals being out of a home, Spain 
and France donated homes that you see up on top of the 
hill that have been given to the locals and where many 
of them feel more confortable living with their family. The 
well-built homes along the beach (like SOLID) were not 
destroyed in the tsunami, but did have high water levels. 
Fortunately, much of El Transito is on a hill, so with 
sufficient warning, it is easy to prepare and get out of 
harms way with the town having a warning system and 
evacuation route in place (the church at the top of the hill 
is the meeting place). There is a statue in rememberance 
of this event and the lives that were lost which you will 
find at the childrens playground near the basketball court.<br><br>

Tourism has increased three-fold since 2014 and, when 
SOLID started in 2012, it was common to only see Jhon 
and Allison out surfing with a local joining them 
from time to time. Over the years they began 
teaching more and more locals how to surf which started 
the surf culture you see today.<br><br>

It wasn’t until 2016 that there became a huge interest 
in owning property in this quaint town with people from 
Canada, United States and other countries purchasing or renting
homes to open up small Air BnB properties, hostels 
and restaurants.<br><br>

Most of the people in town view the increase in tourism 
favorable as there are many more opportunities for the
locals to earn an income (without having to travel to
Managua) from working at one of the new establishments. 
The main reason SOLID does 
not have an on-site restaurant is to ensure economic
opportunity continues in town with the local community 
always benefitting from the increase in tourism.<br><br>

Fortunately, the visitors who stay, enjoy the quaintness 
of the village and only add to the positive and happy 
vibe of the local town community. Those who don’t 
share this view tend to move on, enabling the good 
vibe to continue. As a whole both newcomers and locals
alike have the same goal in mind - enjoy a simple happy
life with friends and family.<br><br>

This increase in tourism is not only happening at an 
international level, but at a national level with many more 
local visitors coming to visit from Managua. Thus safety 
has become a main concern, especially as many locals 
that come to the beach to relax, drink and be merry, 
don’t always know how to swim and are not used to swimming
in the ocean. SOLID is leading a charge to create a self
sustaining Beach Rescue team that, with the support 
of the local Red Cross, Mayor and other local 
organizations, will hope to roll out in early 2018.

</p>