<div class="allInclusiveContainer">
  <h6 text-center ><b>WELCOME TO SOLID SURF &amp; ADVENTURE</b></h6>
  <p>Thank you for choosing SOLID as we are very much
      looking forward to the opportunity of hosting you and
      your family/friends in Nicaragua! In order to ensure a
      wonderful stay at SOLID, we have pulled together
      information that will not only help you plan for your
      arrival, but also how to make the most of our services.<br><br>

      Our all-inclusive packages are created to eliminate the
      stress of planning and decision making, enabling our
      clients to have a fun and relaxing stay. While there are
      a few consistent parts to the daily schedule (breakfast
      @ 8:30 “ish”, lunch @ 1, dinner @ 6:30) we try to stay as
      flexible as possible, letting you choose when you want
      to surf, read, relax, do yoga, have a massage or take an
      adventure.<br><br>

      We encourage you to be proactive during your stay by 
      informing your guide on what activities you would like 
      to partake in (or submit your activity list via this app) 
      so we can plan your week in 
      the best way possible. Also, if you need some ideas or 
      activity suggestions, please ask!<br><br>

      Furthermore, we welcome you to get to know our 
      friendly local staff and encourage you to experience
      the culture through our volunteer opportunities.<br><br>

      Sincerely,<br>
      The SOLID Team</p>
</div>

<div class="allInclusiveh2Titles">
  <h2>What's Included</h2>
</div>

<div class="allInclusiveContainer">

  <ion-grid>
    <ion-row>
      <ion-col col-2 style="padding-top: 8px">
        <img width="52px" height="39px" src="assets/img/all-inclusive/details/BedIcon.png" alt="Accomodation">
      </ion-col>
      <ion-col col-10>
        <p>BEACHFRONT LODGING (Choice of)<br>
        - Dorm bed<br>
        - A/C Dorm bed<br>
        - Private room<br>
        - A/C Private room</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img width="53px" height="45px" src="assets/img/all-inclusive/details/FoodIcon.png" alt="Local Food">
      </ion-col>
      <ion-col col-10>
        <p>DAILY MEALS<br>
        - Full breakfast (coffee, fruit, juice, eggs, gallo pinto, pancakes)<br>
        - Dinner (fish, chicken, pork, salad or vegetable, rice, fresh juice)<br>
        (Option to add lunch)</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img width="58px" height="54px" src="assets/img/all-inclusive/details/DrinkIcon.png" alt="Unlimited drinks">
      </ion-col>
      <ion-col col-10>
        <p>HAPPY HOUR<br>
          2hr. Unlimited bar<br>
          Monday - Thursday / 5pm - 7pm<br>
          Local bottled beer and Rum<br>
          (Option to add unlimited bar)</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img width="60px" height="60px" src="assets/img/all-inclusive/details/MixOfIcons.png" alt="Activity Package">
      </ion-col>
      <ion-col col-10>
        <p>ACTIVITY PACKAGE<br>
          Daily board rental<br>
          Daily choice of:<br>
            - surf photos<br>
            - surf lesson<br>
            - yoga (2 daily)<br>
            - volunteering<br><br>
          (Option to add transport to new breaks)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img width="63px" height="63px" src="assets/img/all-inclusive/details/SurfCarIcon.png" alt="Transport">
      </ion-col>
      <ion-col col-10>
        <p style="padding-top: 12px">ADD TRANSPORT<br>
          Private taxi<br>
          4x4 Truck
      </ion-col>
    </ion-row>
  </ion-grid>

</div>

<div class="allInclusiveh2Titles">
  <h2>What to Expect</h2>
</div>

<div class="allInclusiveContainer">
  <p><b>Meal Schedule &amp; Dietary Preferences</b><br>
  We serve a weekly healthy menu of locally sourced and fresh fish, chicken, pork, shrimp, vegetables and fruit. If you have any dietary restrictions please note in the waiver and remind our guide. (Breakfast by 9:30, Lunch near 1pm, dinner around 6:30pm)<br><br>

  <b>Water (Shower &amp; Drinking)</b><br>
  Water tanks are refilled every other day so if there is a lack of water, please notify the staff to switch the tank. For drinking, please use the bottled water provided but you can use the sink for brushing your teeth.<br><br>

  <b>Air Conditioning / Electricity</b><br>
  Please turn off the A/C while not in the room in order to save energy and ensure your room cools at night (daytime electric levels are sometimes low, so if the A/C doesn’t seem to be cooling it is most likely the electric). If the A/C does not work at night, please let us know!<br><br>

  <b>Housekeeping</b><br>
  We do our best to freshen up rooms daily, but if you need an extra sweep or towel, just ask and we would be more than happy to do so!<br><br>

  <b>Surfing</b><br>
  Most of the time the best surf will be right in front of SOLID but we do access other breaks (conditions permitting - skill level or swell/wind). Please keep in mind that we usually don’t need to travel to other locations because our break is the most consistent with less crowds and other spots only break with bigger swells. (This is also why camps at other locations need to travel.)<br><br>
  
  <div style="padding-bottom: 32px">
    <button ion-button class="moreInfoButton" color="whatToKnowBackground" (click)="navigateTo('WhatToKnowPage')"><b>More Info</b></button>
  </div>

</div>

<div class="noteForConsiderationContainer" padding-top>
  <p><b>Note For Consideration</b><br><br>
    We thank you in advance for understanding that you are traveling to a third-world country where flexibility and patience is sometimes necessary (dirt roads, power outages, glitchy WiFi). Shall anything un-planned happen, please know we always do our best to remedy any issues quickly in  order to make your stay as wonderful as possible!</p>
</div>